* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2B438D;
    --secondary-color: #94ADFF;
    --trinary-color: #E8FD94;
    --background-gradient: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    --container-background: radial-gradient(circle at bottom right, var(--primary-color), var(--secondary-color));
}

body {
    font-family: Arial, sans-serif;
    background: var(--container-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0; 
}

.container-main {
    max-width: 375px;
    background: var(--primary-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 125, 255, 0.5);
    height: fit-content;
}

.main-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-button {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}


.category-select {
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.back-button, .next-button {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.options-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.question-container h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.question-container p {
    font-size: 20px;
}

.result-item span, .result-item h3 {
    font-size: 24px;
}

.result-item p {
    font-size: 20px;
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.results-container h2 {
    font-size: 32px;
}